<div class="carros">
    <div class="linha1">
      <div *ngFor="let carro of carros, let i = index " class="car1" routerLink="/tabela">
        <img src="assets/img/Ford_Corcel.jpg" alt="" />
        <div  class="descricao">{{carro}}</div>
      </div>
    </div>
    <div class="linha2">
      <div class="car4" routerLink="/tabela">
        <img src="assets/img/Chevrolet_Opala_SS_19744.jpg" alt="" />
        <div class="descricao">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officiis omnis l</div>
      </div>
  </div>

  <!--

          <div class="car2" routerLink="/tabela">
        <img src="assets/img/Fusca-1972-Fusca-antigo-30.jpg" alt="" />
        <div class="descricao">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officiis omnis l</div>
      </div>
      <div class="car3" routerLink="/tabela">
        <img src="assets/img/Kombi-Cprujinha-1968-Motor-Tudo-24.jpg" alt="" />
        <div class="descricao">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officiis omnis l</div>
      </div>
    </div>
    <div class="linha2">
      <div class="car4" routerLink="/tabela">
        <img src="assets/img/Chevrolet_Opala_SS_19744.jpg" alt="" />
        <div class="descricao">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officiis omnis l</div>
      </div>
      <div class="car5" routerLink="/tabela">
        <img src="assets/img/Ford_Corcel.jpg" alt="" />
        <div class="descricao">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officiis omnis l</div>
      </div>
      <div class="car6" routerLink="/tabela">
        <img src="assets/img/Ford_Corcel.jpg" alt="" />
        <div class="descricao">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officiis omnis l</div>
      </div>
  -->