.carros {
    padding: 60px 60px;

}


.descricao {
    display: grid;
    font-size: 30px;
    text-align: center;
}

.linha {
    border-color: 40px solid rgb(214, 151, 151);;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: 250px;
    grid-row-gap: 80px;
}

.car1 {
    width: 350px;
    height: 250px;
}

img {
    padding: 10px;
    width: 100%;
    height: 100%;
}




