<form>
    <article>
    
        
        <fieldset class="d_compra">
        
            <legend>Informe seus Dados</legend>
            
            <div class="item linhah">

                <label for="nome">Nome:</label>
                <input id="nome" type="text" name="nome" class="name form-control" placeholder="Nome">

            </div>
            
            <div class="item linhah cpf-nas">
                <label for="cpf">CPF:</label>
                <input id="cpf" type="number" class="form-control cpf" name="cpf" placeholder="CPF">

                <label for="dateNas" class="nasc">Nascimento:</label>
                <input id="dataNs" type="date" class="form-control dt-nc" name="Data de nascimento">
            </div>
            
            <div class="item linhah">
                
                <label for="email">Email:</label>
                <input id="email" type="email" class="form-control" name="email" placeholder="Email" pattern=".+@gmail.com" size="30" required>

            </div>
           
            <div class="item linhah">

                    <label for="endereco">Endereço:</label>                             
                    <input type="Endereço" class="form-control" name="Endereço">
                
                    <div class="mgesq">
                        
                    <label for="bairro">Bairro:</label>
                    
                    
                    </div>   
                    
                    <input type="text" class="form-control" name="bairro">                   
                      
            </div>
            <div class="item linhah">

                <label> N°:</label>
                <input class="in_n" type="number" class="form-control"  name="numero">
               
                <div class="mgesq">
                   
                    <label for="endereco">CEP:</label>
                    

                </div>
                <input type="number" name="cep" class="form-control">
            
            </div>
            
            <div class="d_botao">  

                <input type="reset" class="form-control btn-clear" value="Limpar">
                <input type="submit" class="form-control btn-enter btn-primary" value="Enviar">
  
            </div>

        </fieldset>
    </article>
        <nav></nav>
        <aside></aside>
</form>