.container-compra {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    justify-content:space-between;
    margin-top: 25px;
    padding-left: 50px;
    padding-right: 80px;
  }
  
  img {
    width: 450px;
    height: 250px;
    border-radius: 12px;
  }
  
  .detalhes {
    background-color: white;
    margin-left: 100px;
    width: 720px;
    height: 1140px;
    text-align: center;
  }
  
  
  .comprar {
    margin-top: 25px;
    color: aliceblue;
    background-color: rgb(99, 208, 99);
    border-color: green;
    border-radius: 12px;
    height: 35px;
    width: 120px;
  }
  
  .cont-2 {
    width: 100%;
    text-align: center;
  }
  
  .linha1 {
    margin-top: 25px;
  }
  
  .linha1, .linha2 {
    width: 450px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .cars-option {
    width: 220px;
    height: 120px;
  }
   #main > article {
     background: rgb(255, 255, 255);
     flex: 1;
     box-shadow: 0 0 2em black;
     border-radius: 1.5em;
   }
   #main > nav {
    flex: 0 0 20vw;
    background: #ffffff;
  } 
   #main > aside {
    flex: 0 0 20vw;
  }
  
  
   #main > nav {
     order: -1;
   }
   header, footer, article, nav, aside {
     padding: 1em;
   }
   header, footer {
     background: #ffffff;
     height: 20vh;
   }
  
  .d_compra {
    color: rgb(0, 0, 0);
    margin-top: 15px !important; 
  }
  
  .d_categoria {
    display: flex;
    align-items: center;
  
  }
  
  .flex {
  flex-wrap: wrap;
  }
  
  .in_n {
    width: 65px;
  }
  
  h1 {
    text-align: center;
    font-size: 40px;
    padding-top: 25px;
    margin-bottom: 0px;
    padding-bottom: 0px;
  }
  
  h2 {
    font-size: 20px;
    float: right;
    height: 0px;
    padding-right: 12px !important;
  }
  
  .d_dav{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: row-reverse;
  }
  
  .dt_time, .dt_date {
    margin-left: 12px;
    margin-top: 25px;
    height: 20px;
    margin-right: 12px;
  }
  
  .d_botao{
    padding-left: 7px;
    padding-bottom: 15px;
  }
  
  .num {
    size: 12px;
  }
  
  fieldset {
    margin-bottom: 20px;
    font-size: 20px;
  }

  label {
      margin-right: 5px;
  }

.cpf{
    width: 150px;
    margin-right: 100px;
}


.dt-nc {
    width: 180px;
    margin-right: 15px;
}
  .mgesq {
    margin-left: 8px;
  }
  
  .linhah {
    display: flex;
    align-items: center;
    margin-top: 12px;
    margin-bottom: 12px;
  }
  
  .mgesqc{
    margin-left: 60px;
  
  }
  fieldset {
      padding-right: 25px;
    padding-left: 25px;
    padding-top:25px;
    padding-bottom: 25px;
      border:1px solid #666;
      border-radius:8px;
      box-shadow:0 0 10px #666;
  }
  legend {
      float:left;
      margin-top:-20px;
  }
  legend + * {
      clear:both;
  }