
  .d_compra {
    color: rgb(0, 0, 0);
    margin-top: 15px;
    padding: 30px; 
  }
  
  .d_categoria {
    display: flex;
    align-items: center;
  
  }
  

  
  .in_n {
    width: 65px;
  }
  
  h1 {
    text-align: center;
    font-size: 40px;
    padding-top: 25px;
    margin-bottom: 0px;
    padding-bottom: 0px;
  }
  
  h2 {
    font-size: 20px;
    float: right;
    height: 0px;
    padding-right: 12px !important;
  }
  
  .d_dav{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: row-reverse;
  }
  
  .dt_time, .dt_date {
    margin-left: 12px;
    margin-top: 25px;
    height: 20px;
    margin-right: 12px;
  }
  
  .d_botao{
    padding-left: 7px;
    padding-bottom: 15px;
  }
  
  .num {
    size: 12px;
  }
.btn-clear {
    margin-top: 15px;
}

.btn-enter {
      margin-top: 15px;
  }
  
  fieldset {
    margin-bottom: 20px;
    font-size: 20px;
  }

  label {
      margin-right: 5px;
  }

.cpf{
    width: 150px;
    margin-right: 100px;
}


.dt-nc {
    width: 180px;
    margin-right: 15px;
}
  .mgesq {
    margin-left: 8px;
  }
  
  .linhah {
    display: flex;
    align-items: center;
    margin-top: 12px;
    margin-bottom: 12px;
  }
  
  .mgesqc{
    margin-left: 60px;
  
  }
  fieldset {
      padding-right: 25px;
    padding-left: 25px;
    padding-top:25px;
    padding-bottom: 25px;
      border:1px solid #666;
      border-radius:8px;
      box-shadow:0 0 10px #666;
  }
  legend {
      float:left;
      margin-top:-20px;
  }
  legend + * {
      clear:both;
  }