
  .d_compra {
    color: rgb(0, 0, 0);
    margin-top: 15px;
    padding: 30px; 
  }
  
  .d_categoria {
    display: flex;
    align-items: center;
  
  }
  
  h1 {
    text-align: center;
    font-size: 40px;
    padding-top: 25px;
    margin-bottom: 0px;
    padding-bottom: 0px;
  }
  
  h2 {
    font-size: 20px;
    float: right;
    height: 0px;
    padding-right: 12px !important;
  }
  
.btn-clear {
    margin-top: 15px;
}

.btn-enter {
      margin-top: 15px;
  }
  
  fieldset {
    margin-bottom: 20px;
    font-size: 20px;
    background: white;
  }

  label {
      margin-right: 1%;
  }

.cpf{
    width: 20%;
    margin-right: 5px;
}


.name {
  width: 50%;
}

.nasc{
  margin-left: 6%;
}

.input-email {
  width: 20%;
}

.input-num {
  width: 18%;
}
.label-endereco {
  margin-left: 5px;
}
.bairro {
  width: 35%;
}
.endereco {
  width: 70%;
  margin-right: 5px;
}

.dt-nc {
    width: 20%;
}

.input-email {
  width: 35%;
}

  .linhah {
    display: flex;
    align-items: center;
    margin-top: 12px;
    margin-bottom: 12px;
  }

  .cep {
    width: 20%;
  }
  .label-cep {
    margin-left: 25px;
  }
  .label-email {
    margin-left: 10px;
  }
  fieldset {
      padding-right: 25px;
    padding-left: 25px;
    padding-top:25px;
    padding-bottom: 25px;
      border:1px solid #666;
      border-radius:8px;
  }
  legend {
      float:left;
      margin-top:-20px;
  }
  legend + * {
      clear:both;
  }
