<form #f="ngForm" (ngSubmit)="onSubmit(f)">
  <fieldset class="d_compra">
    <legend>Informe seus Dados</legend>

    <div class="item linhah">
      <label for="nome">Nome:</label>
      <input
        #nomePe
        id="nome"
        type="text"
        name="nome"
        ngModel
        class="name form-control"
        placeholder="Nome"
        required
      />

      <label for="dateNas" class="nasc">Nascimento:</label>
      <input
        #dataNs
        id="dataNs"
        type="date"
        class="form-control dt-nc"
        name="Data de nascimento"
        required
      />
    </div>

    <div class="item linhah cpf-nas">
      <label for="cpf">CPF:</label>
      <input
        #cpf
        id="cpf"
        type="text"
        class="form-control cpf"
        ngModel
        name="cpf"
        placeholder="CPF"
        required
      />
      <label for="email" class="label-email">Email:</label>
      <input
        #email
        id="email"
        type="email"
        class="input-email form-control"
        name="email"
        ngModel
        placeholder="Email"
        pattern=".+@gmail.com"
        size="30"
        required
        email
      />
      <label for="cep" class="label-cep" required>CEP:</label>
      <input
        #cep
        type="text"
        name="cep"
        class="form-control cep"
        ngModel
        required
      />
    </div>
    <div class="item linhah">
      <div class="mgesq">
        <label for="bairro">Bairro:</label>
      </div>
      <input
        #bairro
        type="text"
        class="form-control bairro"
        name="bairro"
        ngModel
        required
      />
      <label for="endereco" class="label-endereco">Endereço:</label>
      <input
        #endereco
        type="text"
        class="form-control endereco"
        name="Endereco"
        ngModel
        required
      />
      <label class="num"> N°:</label>
      <input
        #nCasa
        class="input-num"
        type="text"
        class="form-control input-num"
        name="numero"
        ngModel
        required
      />
    </div>
    <div class="d_botao">
      <input type="reset" class="form-control btn-clear" value="Limpar" />
      <input
        type="submit"
        class="form-control btn-enter btn-primary"
        value="Enviar"
      />
    </div>
  </fieldset>
</form>
