<div class="container-compra" >
  <div class="car-img" *ngIf="carroData">
    <img src="{{carroData[0].img}}" alt="" />
    <div class="linha1">
      <img
        class="cars-option"
        src="assets/img/Chevrolet_Opala_SS_19744.jpg"
        alt=""
      />
      <img
        class="cars-option car2"
        src="assets/img/Fusca-1972-Fusca-antigo-30.jpg"
        alt=""
      />
    </div>
    <div class="linha2">
      <img
        class="cars-option"
        src="assets/img/Kombi-Cprujinha-1968-Motor-Tudo-24.jpg"
        alt=""
      />
      <img
        class="cars-option car4"
        src="assets/img/Chevrolet_Opala_SS_19744.jpg"
        alt=""
      />
    </div>
  </div>
  <div class="detalhes">
    <div class="compra_fi" *ngIf="carroData">
      <h1>{{carroData[0].namecar}}</h1>
        <h2>{{carroData[0].detalhes}}</h2>
        <h2>{{carroData[0].valor}}</h2>
        <h3>{{carroData[0].detalhes}}</h3>
      <button class="comprar">Comprar</button>
    </div>
    <app-formulario></app-formulario>
  </div>
</div>
