<table class="table">
    <thead class="thead-dark">
      <tr>
        <th>Nome</th>
        <th>Email</th>
        <th>Telefone</th>
        <th>CPF</th>
        <th>Nascimento</th>
        <th>Endereço</th>
        <th>N°</th>
        <th>Cep</th>
        <th>Bairro</th>
        <th>Nome do Carro</th>
        <th>Marca</th>
        <th>Ano</th>
        <th>Cor</th>

        <th>Valor</th>
      </tr>
      <tr>
        <td>{{ p1.nome | uppercase }}</td>
        <td>{{ p1.email | lowercase }}</td>
        <td>{{ p1.valor | currency: "BRL" }}</td>
        <td>{{ p1.desconto | percent }}</td>
        <td>{{ p1.fabricacao | date: "fullDate" }}</td>
      </tr>
    </thead>
  </table>
  
